<!DOCTYPE html>
<HTML>
<HEAD>
    <link rel="stylesheet" type="text/css" href="/everStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

    <TITLE>config</TITLE>
</HEAD>

<BODY class="configbody">
<nav class="main">
    <!-- ensure that crsf is required in logging out-->
    <form th:action="@{/logout}" method="post">
        <INPUT class="logout" TYPE="submit" VALUE="Log out">
    </FORM>
</nav>

<!--hx-post="/api/update"-->
<div id="div-container">

    <FORM hx-post="/api/update" method="post" class="configForm" hx-target="#form-container">
        <div class="text-block">
            <label class="heading" for="id_date">Starting Date</label>
            <input type="hidden" id="csrf-token" name="_csrf" th:value="${{_csrf.token}}"/>
            <input id="id_date" type="date" name="date" min="2023-12-01" value="" required> <br>

            <INPUT class="update" TYPE="submit" NAME="login" VALUE="Update">
        </div>
    </FORM>

    <FORM hx-post="/api/updateTwentyMan" method="post" class="configForm" hx-target="#form-container">
        <div class="text-block">
            <input type="hidden" id="csrf-token2" name="_csrf" th:value="${{_csrf.token}}"/>
            <div class="heading">ZG/AQ20</div>
            <button class="update" TYPE="submit" VALUE="1" name="value">Move it up a day</button>
            <button class="update" TYPE="submit" VALUE="-1" name="value"> Move it day back</button>
        </div>
    </FORM>

    <FORM class="configForm">
        <div class="text-block">
            <input type="hidden" id="csrf-token3" name="_csrf" th:value="${{_csrf.token}}"/>
            <div class="heading">DEBUG</div>
            <p><small>warning: this will enable cors</small></p>
            <input type="hidden" name="original" value=""
                   hx-trigger="load"
                   hx-get="/api/getToggle"
                   hx-target="#deb"
                   hx-swap="innerHtml">
            <button hx-get="/api/setToggle"
                    hx-trigger="click"
                    class="debug"
                    id="deb">off
            </button>

        </div>
    </FORM>

</div>

<div id="form-container"></div>
<div id="toggle-element" th:if="${showElement}">
    <!-- Content to toggle -->
    This element is visible!
</div>
</BODY>
</HTML>
