<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Everwen</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org@1.4.1/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@4.2.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" type="text/css" href="/everStyle.css">

</head>
<body>
<div style="font-size: 10px">
    Originally designed by <a href="https://forum.nostalrius.org/memberlist.php?mode=viewprofile&u=38096/">henkebenke</a>
</div>
<div class="topText">
    <h1 style="font-weight: bold;text-align: center">Everlook Calendar</h1><br/>
    <div class="block_container" style="margin-bottom: 20px">
        <div> Server time is now:</div>
        <div hx-ext="sse" sse-connect="/api/time" sse-swap="message"
             style="margin-left: 7px" id="time">
        </div>
    </div>
    <div hx-get="api/zgboss"
         hx-trigger="load"
         hx-target="#boss">
    </div>
    <div class="block_container" style="margin-bottom: 20px">
        <b style="font-weight: bold; margin-right: 7px;">Current ZG Edge of Madness boss:</b>
        <div id="boss"></div>
    </div>


    <a href="/zgenchants">Click here for ZG enchants</a>
</div>

<div id="wrapper">

    <div hx-ext="client-side-templates"
         id="template"
         hx-get="api/events"
         hx-trigger="load"
         hx-target="#event"
         mustache-template="eventTemp"
         hx-swap="innerHTML">


        <p id="event"></p>

        <template id="eventTemp">
            <!--this to iterate over the whole json list-->
            {{#.}}
            <!--if it's old-->
            {{#old}}
            <div class="row old">
                <div class="date">
                    {{date}}
                </div>
                <div class="dot"></div>
                <div class="trail"></div>
                {{#ony}}
                <div class="subject">Onyxia</div>
                {{/ony}}
                {{#mc}}
                <div class="subject">Molten Core</div>
                {{/mc}}
                {{#bwl}}
                <div class="subject">Blackwing Lair</div>
                {{/bwl}}
                {{#aq40}}
                <div class="subject">AQ40</div>
                {{/aq40}}
                {{#naxx}}
                <div class="subject">Naxxramas</div>
                {{/naxx}}
                {{#zg}}
                <div class="subject">Zul'Gurub</div>
                {{/zg}}
                {{#aq20}}
                <div class="subject">AQ20</div>
                {{/aq20}}
                {{#dmf}}
                <!--                Triple nested braces to escape html-->
                <div class="subject">{{{dmf}}}</div>
                {{/dmf}}
                {{#pvp}}
                <div class="subject">{{pvp}}<br>(not sure about exact time)</div>
                {{/pvp}}
                {{#madness}}
                <div class="subject">ZG Edge of Madness: {{{madnessBoss}}}<br>(not sure about exact time)</div>
                {{/madness}}
            </div>
            {{/old}}
            <!--if it's incoming (old is false/0)-->
            {{^old}}
            <div class="row">
                <div class="date">
                    {{date}}
                </div>
                <div class="dot"></div>
                <div class="trail"></div>
                {{#ony}}
                <div class="subject">Onyxia</div>
                {{/ony}}
                {{#mc}}
                <div class="subject">Molten Core</div>
                {{/mc}}
                {{#bwl}}
                <div class="subject">Blackwing Lair</div>
                {{/bwl}}
                {{#aq40}}
                <div class="subject">AQ40</div>
                {{/aq40}}
                {{#naxx}}
                <div class="subject">Naxxramas</div>
                {{/naxx}}
                {{#zg}}
                <div class="subject">Zul'Gurub</div>
                {{/zg}}
                {{#aq20}}
                <div class="subject">AQ20</div>
                {{/aq20}}
                {{#dmf}}
                <div class="subject">{{{dmf}}}</div>
                {{/dmf}}
                {{#pvp}}
                <div class="subject">{{pvp}}<br>(not sure about exact time)</div>
                {{/pvp}}
                {{#madness}}
                <div class="subject">ZG Edge of Madness: {{madnessBoss}}<br>(not sure about exact time)</div>
                {{/madness}}
            </div>
            {{/old}}
            {{/.}}
        </template>
    </div>
</div>
</body>
</html>