<!DOCTYPE html>
<html xmlns:htmx="http://www.w3.org/1999/xhtml"
      xmlns:hx="https://github.com/wimdeblauwe/htmx-spring-boot-thymeleaf">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/htmx.org@1.4.1/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@4.2.0"></script>
    <link rel="stylesheet" href="everStyle.css">

</head>
<body>
<div style="font-size: 15px">
    Originally designed by nostalrius
</div>
<!--<div hx-ext="client-side-templates">-->
<!--    &lt;!&ndash;    <button hx-get="/api/users"&ndash;&gt;-->
<!--    <button hx-get="api/users"-->
<!--            hx-swap="innerHTML"-->
<!--            hx-target="#content"-->
<!--            mustache-template="foo">-->
<!--        Click Me-->
<!--    </button>-->

<!--    <p id="content">Start</p>-->

<!--    <template id="foo">-->
<!--        {{#.}}-->
<!--        <li>{{name}}</li>-->
<!--        {{/.}}-->
<!--        <p>{{userID}} and {{id}} and {{name}} and {{location}}</p>-->
<!--    </template>-->
<!--</div>-->


<div id="wrapper">
    <div style="text-align: center; margin-top: 10px;">
        <h1 style="font-weight: bold;">Everlook Calendar</h1><br/>
        <div hx-get="api/time"
             hx-trigger="load, every 2s"
             hx-target="#time">
        </div>
        <div class="block_container" style="margin-bottom: 20px">
            <div> Server time is now:</div>
            <div style="margin-left: 10px" id="time">22:15</div>
        </div>
        <div hx-get="api/zgboss"
             hx-trigger="load"
             hx-target="#boss">
        </div>
        <div class="block_container" style="margin-bottom: 20px">

            <b style="font-weight: bold; margin-right: 10px;">Current ZG Edge of Madness boss:</b>
            <div id="boss">Wushoolay</div>
        </div>
        <a href="/zgenchants">Click here for ZG enchants</a>
    </div>
    <div hx-ext="client-side-templates"
         style="float: left; margin-top: 20px;margin-left: 20px;width: 100%;"
         hx-get="api/events"
         hx-trigger="load"
         hx-target="#event"
         mustache-template="eventTemp"
         hx-swap="innerHTML">


        <p id="event">Start</p>

        <template id="eventTemp">
            <!--this to iterate over the whole json list-->
            {{#.}}
            <!--if it's old-->
            {{#old}}
            <div class="row old">
                <div class="date">
                    {{date}}
                </div>
                <div class="dot"></div>
                <div class="trail"></div>
                {{#ony}}
                <div class="subject">Onyxia</div>
                {{/ony}}
                {{#mc}}
                <div class="subject">Molten Core</div>
                {{/mc}}
                {{#bwl}}
                <div class="subject">Blackwing Lair</div>
                {{/bwl}}
                {{#zg}}
                <div class="subject">Zul'Gurub</div>
                {{/zg}}
                {{#dmf}}
                <div class="subject">DArkmoon fair</div>
                {{/dmf}}
                {{#pvp}}
                <div class="subject">{{pvp}}</div>
                {{/pvp}}
                {{#madness}}
                <dib class="subject">ZG Edge of Madness: {{madnessBoss}}</dib>
                {{/madness}}
            </div>
            {{/old}}
            <!--if it's incoming (old is false/0)-->
            {{^old}}
            <div class="row">
                <div class="date">
                    {{date}}
                </div>
                <div class="dot"></div>
                <div class="trail"></div>
                {{#ony}}
                <div class="subject">Onyxia</div>
                {{/ony}}
                {{#mc}}
                <div class="subject">Molten Core</div>
                {{/mc}}
                {{#bwl}}
                <div class="subject">Blackwing Lair</div>
                {{/bwl}}
                {{#zg}}
                <div class="subject">Zul'Gurub</div>
                {{/zg}}
                {{#dmf}}
                <div class="subject">DArkmoon faire</div>
                {{/dmf}}
                {{#pvp}}
                <div class="subject">{{pvp}}</div>
                {{/pvp}}
                {{#madness}}
                <dib class="subject">ZG Edge of Madness: {{madnessBoss}}</dib>
                {{/madness}}
            </div>
            {{/old}}
            {{/.}}
        </template>
    </div>
</div>
</body>
</html>